package repository

import (
	"context"
	"database/sql"
	"fmt"

	"github.com/google/uuid"
	"{{ .GoModuleName }}/internal/core/port"
)

type OutboxRepository struct {
	db *sql.DB
}

func NewOutboxRepository(db *sql.DB) port.OutboxRepository {
	return &OutboxRepository{
		db: db,
	}
}

func (r *OutboxRepository) Create(ctx context.Context, event port.OutboxEvent) error {
	conn := GetConn(ctx, r.db)

	id := uuid.New()
	
	// Insert updated_at = NOW()
	query := `
		INSERT INTO outboxes (
			id, 
			topic, 
			payload, 
			status, 
			retry_count, 
			next_retry, 
			created_at,
			updated_at
		) VALUES ($1, $2, $3, 'PENDING', 0, NOW(), NOW(), NOW())`

	_, err := conn.ExecContext(
		ctx, 
		query, 
		id, 
		event.Topic, 
		event.Payload,
	)

	if err != nil {
		return fmt.Errorf("outbox_repo: failed to persist event for topic %s: %w", event.Topic, err)
	}

	return nil
}