package port

import (
	"context"
	"github.com/google/uuid"
	
	dto "{{ .GoModuleName }}/internal/core/dto/v1"
	"{{ .GoModuleName }}/internal/core/entity"
)

type {{ .EntityName }}Repository interface {
	// Core
	Create(ctx context.Context, {{ .EntityNameCamel }} *entity.{{ .EntityName }}) error
	FindByID(ctx context.Context, id uuid.UUID) (*entity.{{ .EntityName }}, error)
	Update(ctx context.Context, {{ .EntityNameCamel }} *entity.{{ .EntityName }}) error
	Delete(ctx context.Context, id uuid.UUID) error
	
	// List & Search
	List(ctx context.Context, req dto.List{{ .EntityName }}Request) ([]*entity.{{ .EntityName }}, int, error)
	ListWithCursor(ctx context.Context, req dto.CursorPaginationRequest) ([]*entity.{{ .EntityName }}, string, bool, error)
	
	// Bulk
	BulkCreate(ctx context.Context, entities []*entity.{{ .EntityName }}) error
	BulkUpdateStatus(ctx context.Context, ids []uuid.UUID, isActive bool) (int, error)
	BulkDelete(ctx context.Context, ids []uuid.UUID) error
	
	// Utility
	Exists(ctx context.Context, id uuid.UUID) (bool, error)
	Count(ctx context.Context, req dto.List{{ .EntityName }}Request) (int, error)
}