services:
  {{ .ProjectName }}:
    container_name: {{ .ProjectName }}-app
    build:
      context: .
      target: dev
      dockerfile: Dockerfile
    ports:
      - "${HTTP_PUBLIC_PORT:-8080}:8080"
      - "${GRPC_PUBLIC_PORT:-{{ .GrpcPort }}}:9090"
    volumes:
      - .:/app
      - go-modules:/go/pkg/mod
    image: godamri/{{ .ProjectName }}:latest
    env_file:
      - .env
    environment:
      - CGO_ENABLED=1
      - HTTP_PORT=${HTTP_PORT}
      - DB_DSN=${DB_DSN}
      - KAFKA_BROKERS=${KAFKA_BROKERS}
      - REDIS_ADDR=${REDIS_ADDR}
      - REDIS_DB=${REDIS_DB}
      - OTEL_EXPORTER_OTLP_INSECURE=${OTEL_EXPORTER_OTLP_INSECURE}
    networks:
      - helix-shared-net

volumes:
  go-modules:


networks:
  helix-shared-net:
    external: true
